<aside id="sidebar" class="sidebar hide">
    <ul class="sidebar-menu">
        <li class="sidebar-title">Categories</li>

        <li>
            <a href="#">
                <i class="bi bi-bicycle"></i>
                Spares by Bike
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-grid"></i>
                Spares by Category
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-box"></i>
                Bike Body Parts
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-stars"></i>
                Premium Accessories
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-car-front"></i>
                Car Parts
            </a>
        </li>

        <li class="sidebar-divider"></li>

        <li>
            <a href="#">
                <i class="bi bi-truck"></i>
                Order Tracking
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-arrow-repeat"></i>
                Returns & Exchanges
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-info-circle"></i>
                About Us
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-question-circle"></i>
                FAQs
            </a>
        </li>
    </ul>
</aside>
