<div id="heroCarousel" class="carousel slide"  data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="4000" data-bs-pause="false">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="hero-slide" style="background-image: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70');">
        <div class="overlay"></div>
        <div class="hero-content text-center text-white">
          <h1 class="display-4 fw-bold">BIKE SPARES</h1>
          <p class="lead">Explore our collection</p>
          <button class="btn btn-warning btn-lg"><a href="/products" style="text-decoration: none;color: #000;">Shop Now</a></button>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="hero-slide" style="background-image: url('https://images.unsplash.com/photo-1558981403-c5f9899a28bc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <div class="overlay"></div>
        <div class="hero-content text-center text-white">
          <h1 class="display-4 fw-bold">ACCESSORIES</h1>
          <p class="lead">Upgrade your ride</p>
          <button class="btn btn-warning btn-lg"><a href="/products" style="text-decoration: none;color: #000;">Shop Now</a></button>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="hero-slide" style="background-image: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff');">
        <div class="overlay"></div>
        <div class="hero-content text-center text-white">
          <h1 class="display-4 fw-bold">GEAR & PARTS</h1>
          <p class="lead">Find the perfect fit</p>
          <button class="btn btn-warning btn-lg"><a href="/products" style="text-decoration: none;color: #000;">Shop Now</a></button>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev bottom-control" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next bottom-control" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

